h1 {
    color: aliceblue;
}
h2 {
    color: aliceblue;
}
h3 {
    color: aliceblue;
}
p {
    color: aliceblue;
    line-height: 15px
}
body {
    font-family: "Afacad Flux", serif;
    background-color: black;
}
.dog {
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.pac {
    display: flex;
    justify-content: center;
}